<!doctype html>

<html ng-app="shadowApp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Node/Angular App</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<style>
		html 					{ overflow-y:scroll; }
		#user-list 				{ margin-bottom:30px; }
		#user-form 	 			{ margin-bottom:50px; }
	</style>

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<script src="core.js"></script>

</head>
<body ng-controller="mainController">
	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Notaire App</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/users">Users <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
	<div class="container pt-3">

		<div class="text-center text-primary">
			<h1>I'm a Single Angular + Node App</h1>
		</div>

		<div id="user-list" class="row">
			<div class="col-md-6">
				<form class="form-inline my-3">
					<div class="form-group">
					  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
							<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0 form-control" id="inlineFormInput" placeholder="First name" ng-model="formData.first_name">
							<input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Last name" ng-model="formData.last_name">
				  	</div>
						<button type="submit" class="btn btn-primary" ng-click="createUser()">Save user</button>
				  </div>
				</form>

				<h3>There are {{ users.length }} users.</h3>
				<div class="card">
					<table class="table table-striped">
					  <thead>
					    <tr>
					      <th>First Name</th>
					      <th>Last Name</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr ng-repeat="user in users">
					      <td>{{ user.first_name }}</td>
					      <td>{{ user.last_name }}</td>
					    </tr>
					  </tbody>
					</table>
				</div>
			</div>

			<div class="col-md-6">
				<form class="py-3">
					<div class="form-group">
					  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
							<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0 form-control" id="inlineFormInput" placeholder="Title" ng-model="formData.title">
							<input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Notaire name" ng-model="formData.notaire">
				  	</div>
				  </div>
					<div class="form-group">
					  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
							<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0 form-control" id="User" placeholder="User name" ng-model="formData.user">
							<input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Time" ng-model="formData.time">
				  	</div>
				  </div>
					<button type="submit" class="btn btn-primary btn-block" ng-click="createRdv()">Save rdv</button>
				</form>

				<h3>There are {{ rdvs.length }} rendez-vous.</h3>
				<div class="card">
					<table class="table table-striped">
					  <thead>
					    <tr>
					      <th>Title</th>
					      <th>Notaire</th>
								<th>User</th>
								<th>Time</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr ng-repeat="rdv in rdvs">
					      <td>{{ rdv.title }}</td>
					      <td>{{ rdv.notaire_id }}</td>
					      <td>{{ rdv.user_id }}</td>
					      <td>{{ rdv.rdv_time }}</td>
					    </tr>
					  </tbody>
					</table>
				</div>
			</div>
		</div>
		<div id="user-list" class="row">
			<div class="col-md-6">
				<form class="py-3">
					<div class="form-group">
					  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
							<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="First name" ng-model="formData.first_name">
							<input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Last name" ng-model="formData.last_name">
				  	</div>
				  </div>
					<div class="form-group">
					  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
							<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInputGroup" placeholder="Password" ng-model="formData.password">
							<input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Avalaible time" ng-model="formData.available_time">
				  	</div>
				  </div>
					<button type="submit" class="btn btn-primary btn-block" ng-click="createNotaire()">Save notaire</button>
				</form>

				<h3>There are {{ notaires.length }} notaires.</h3>
				<div class="card">
					<table class="table table-striped">
					  <thead>
					    <tr>
					      <th>First name</th>
					      <th>Last name</th>
					      <th>Password</th>
								<th>Time Available</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr ng-repeat="notaire in notaires">
					      <td>{{ notaire.first_name }}</td>
					      <td>{{ notaire.last_name }}</td>
					      <td>{{ notaire.password }}</td>
					      <td>{{ notaire.available_time }}</td>
					    </tr>
					  </tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="text-center text-muted">
			<p>Powered by <a href="https://azizmashkour.herokuapp.com">azizmashkour</a>.</p>
		</div>

	</div>

</body>
</html>
